<img appLoadImage src="assets/img/fox_spinner.svg" />

<div class="timeline mt-5">
  <div class="timeline-item" date-is="2008">
    <div class="card shadow bg-white">
      <div class="card-body">
        <div class="card-title"><h5 class="font-weight-bold" translate>BACCALAUREAT_TITLE</h5></div>
        <div class="card-subtitle"><span translate>BACCALAUREAT</span></div>
        <div class="card-text">
          <svg
            id="i-location"
            viewBox="0 0 32 32"
            width="15"
            height="15"
            fill="none"
            stroke="currentcolor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
          >
            <circle cx="16" cy="11" r="4" />
            <path d="M24 15 C21 22 16 30 16 30 16 30 11 22 8 15 5 8 10 2 16 2 22 2 27 8 24 15 Z" />
          </svg>
          <span class="location ml-1" translate>BACCALAUREAT_LOCATION</span>
        </div>
      </div>
    </div>
  </div>
  <div class="timeline-item" date-is="2012">
    <div class="card shadow bg-white">
      <div class="card-body">
        <div class="card-title"><h5 class="font-weight-bold" translate>IUT_TITLE</h5></div>
        <div class="card-subtitle"><span translate>IUT</span></div>
        <div class="card-text">
          <svg
            id="i-location"
            viewBox="0 0 32 32"
            width="15"
            height="15"
            fill="none"
            stroke="currentcolor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
          >
            <circle cx="16" cy="11" r="4" />
            <path d="M24 15 C21 22 16 30 16 30 16 30 11 22 8 15 5 8 10 2 16 2 22 2 27 8 24 15 Z" />
          </svg>
          <span class="location ml-1" translate>IUT_LOCATION</span>
        </div>
      </div>
    </div>
  </div>
  <div class="timeline-item" date-is="2014">
    <div class="card shadow bg-white">
      <div class="card-body">
        <div class="card-title"><h5 class="font-weight-bold" translate>ESIR_TITLE</h5></div>
        <div class="card-subtitle"><span translate>ESIR</span></div>
        <div class="card-text">
          <svg
            id="i-location"
            viewBox="0 0 32 32"
            width="15"
            height="15"
            fill="none"
            stroke="currentcolor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
          >
            <circle cx="16" cy="11" r="4" />
            <path d="M24 15 C21 22 16 30 16 30 16 30 11 22 8 15 5 8 10 2 16 2 22 2 27 8 24 15 Z" />
          </svg>
          <span class="location ml-1" translate>ESIR_LOCATION</span>
        </div>
      </div>
    </div>
  </div>
  <div class="timeline-item" date-is="2017">
    <div class="card shadow bg-white">
      <div class="card-body">
        <div class="card-title d-inline-block mr-2"><h5 class="font-weight-bold" translate>DIPLOMA</h5></div>
        <div class="card-text d-inline-block">
          <img class="logo_nav_card about mb-2 clickable" src="assets/img/user-check.svg" />
        </div>
      </div>
    </div>
  </div>
</div>
