<h3 class="font-weight-bold text-center mt-2" translate>NAVBAR_EXPERIENCE</h3>
<div class="timeline mt-5">
  <!-- SUBSTANCES ACTIVES -->
  <div class="timeline-item" date-is="Juillet 2015">
    <h5 class="font-weight-bold" translate>SUMMER_CAMP</h5>
    <span translate>SUMMER_CAMP_TEXT</span>
    <div class="ml-3">
      <div class="row ml-auto">
        <img class="location" src="assets/img/location.svg" />
        <span class="col-10" translate>SUMMER_CAMP_LOCATION</span>
      </div>
      <div class="row ml-auto">
        <img src="assets/img/time.svg" /> <span class="col-10" translate>SUMMER_CAMP_TIME</span>
      </div>
    </div>
  </div>
  <!-- SOPRA STERIA -->
  <div class="timeline-item" date-is="2016">
    <!-- MISSION 1 -->
    <h5 class="font-weight-bold" translate>VOYAGES_TRAIN</h5>
    <span translate>VOYAGES_TRAIN_TEXT</span>
    <div class="ml-3 mb-3">
      <div class="row ml-auto">
        <img class="location" src="assets/img/location.svg" />
        <span class="col-10" translate>VOYAGES_TRAIN_LOCATION</span>
      </div>
      <div class="row ml-auto">
        <img src="assets/img/time.svg" /> <span class="col-10" translate>VOYAGES_TRAIN_TIME</span>
      </div>
    </div>
  </div>
  <!-- VIVERIS -->
  <div class="timeline-item" date-is="2017 - 2018">
    <!-- MISSION 1 -->
    <h5 class="font-weight-bold" translate>ROBOTIQUE</h5>
    <span translate>ROBOTIQUE_TEXT</span>
    <div class="ml-3 mb-3">
      <div class="row ml-auto">
        <img class="location" src="assets/img/location.svg" /> <span class="col-10" translate>ROBOTIQUE_LOCATION</span>
      </div>
      <div class="row ml-auto">
        <img src="assets/img/time.svg" /> <span class="col-10" translate>ROBOTIQUE_TIME</span>
      </div>
    </div>
  </div>
</div>
