<h3 class="font-weight-bold text-center mt-2" translate>NAVBAR_EXPERIENCE</h3>
<div class="timeline mt-5">
  <!-- SUBSTANCES ACTIVES -->
  <div class="timeline-item" date-is="2016">
    <h5 class="font-weight-bold" translate>SUBSTANCES_ACTIVES</h5>
    <span translate>SUBSTANCES_ACTIVES_TEXT</span>
    <div class="ml-3">
      <div class="row ml-auto">
        <img class="location" src="assets/img/code.svg" /> <span class="col-10" translate>SUBSTANCES_ACTIVES_CODE</span>
      </div>
      <div class="row ml-auto">
        <img class="location" src="assets/img/location.svg" />
        <span class="col-10" translate>SUBSTANCES_ACTIVES_LOCATION</span>
      </div>
      <div class="row ml-auto">
        <img src="assets/img/time.svg" /> <span class="col-10" translate>SUBSTANCES_ACTIVES_TIME</span>
      </div>
    </div>
  </div>
  <!-- SOPRA STERIA -->
  <div class="timeline-item" date-is="Sept. 2016 - Sept. 2017">
    <!-- MISSION 1 -->
    <h5 class="font-weight-bold" translate>SOPRA_STERIA</h5>
    <span translate>SOPRA_STERIA_MISSION_1_TEXT</span>
    <div class="ml-3 mb-3">
      <div class="row ml-auto">
        <img class="location" src="assets/img/code.svg" />
        <span class="col-10" translate>SOPRA_STERIA_MISSION_1_CODE</span>
      </div>
      <div class="row ml-auto">
        <img class="location" src="assets/img/tools.svg" />
        <span class="col-10" translate>SOPRA_STERIA_MISSION_1_TOOLS</span>
      </div>
      <div class="row ml-auto">
        <img class="location" src="assets/img/location.svg" />
        <span class="col-10" translate>SOPRA_STERIA_MISSION_1_LOCATION</span>
      </div>
      <div class="row ml-auto">
        <img src="assets/img/bar_graph.svg" /> <span class="col-10" translate>SOPRA_STERIA_MISSION_1_FUNCTIONAL</span>
      </div>
      <div class="row ml-auto">
        <img src="assets/img/time.svg" /> <span class="col-10" translate>SOPRA_STERIA_MISSION_1_TIME</span>
      </div>
    </div>
    <!-- MISSION 2 -->
    <span translate>SOPRA_STERIA_MISSION_2_TEXT</span>
    <div class="ml-3">
      <div class="row ml-auto">
        <img class="location" src="assets/img/code.svg" />
        <span class="col-10" translate>SOPRA_STERIA_MISSION_2_CODE</span>
      </div>
      <div class="row ml-auto">
        <img class="location" src="assets/img/tools.svg" />
        <span class="col-10" translate>SOPRA_STERIA_MISSION_2_TOOLS</span>
      </div>
      <div class="row ml-auto">
        <img class="location" src="assets/img/location.svg" />
        <span class="col-10" translate>SOPRA_STERIA_MISSION_2_LOCATION</span>
      </div>
      <div class="row ml-auto">
        <img src="assets/img/bar_graph.svg" /> <span class="col-10" translate>SOPRA_STERIA_MISSION_2_FUNCTIONAL</span>
      </div>
      <div class="row ml-auto">
        <img src="assets/img/time.svg" /> <span class="col-10" translate>SOPRA_STERIA_MISSION_2_TIME</span>
      </div>
    </div>
  </div>
  <!-- VIVERIS -->
  <div class="timeline-item" date-is="Oct. 2017 - Auj.">
    <!-- MISSION 1 -->
    <h5 class="font-weight-bold" translate>VIVERIS</h5>
    <span translate>VIVERIS_MISSION_1_TEXT</span>
    <div class="ml-3 mb-3">
      <div class="row ml-auto">
        <img class="location" src="assets/img/code.svg" /> <span class="col-10" translate>VIVERIS_MISSION_1_CODE</span>
      </div>
      <div class="row ml-auto">
        <img class="location" src="assets/img/tools.svg" />
        <span class="col-10" translate>VIVERIS_MISSION_1_TOOLS</span>
      </div>
      <div class="row ml-auto">
        <img class="location" src="assets/img/location.svg" />
        <span class="col-10" translate>VIVERIS_MISSION_1_LOCATION</span>
      </div>
      <div class="row ml-auto">
        <img src="assets/img/bar_graph.svg" /> <span class="col-10" translate>VIVERIS_MISSION_1_FUNCTIONAL</span>
      </div>
      <div class="row ml-auto">
        <img src="assets/img/time.svg" /> <span class="col-10" translate>VIVERIS_MISSION_1_TIME</span>
      </div>
    </div>
    <!-- MISSION 2 -->
    <span translate>VIVERIS_MISSION_2_TEXT</span>
    <div class="ml-3 mb-3">
      <div class="row ml-auto">
        <img class="location" src="assets/img/code.svg" /> <span class="col-10" translate>VIVERIS_MISSION_2_CODE</span>
      </div>
      <div class="row ml-auto">
        <img class="location" src="assets/img/tools.svg" />
        <span class="col-10" translate>VIVERIS_MISSION_2_TOOLS</span>
      </div>
      <div class="row ml-auto">
        <img class="location" src="assets/img/location.svg" />
        <span class="col-10" translate>VIVERIS_MISSION_2_LOCATION</span>
      </div>
      <div class="row ml-auto">
        <img src="assets/img/bar_graph.svg" /> <span class="col-10" translate>VIVERIS_MISSION_2_FUNCTIONAL</span>
      </div>
      <div class="row ml-auto">
        <img src="assets/img/time.svg" /> <span class="col-10" translate>VIVERIS_MISSION_2_TIME</span>
      </div>
    </div>
    <!-- MISSION 3 -->
    <span translate>VIVERIS_MISSION_3_TEXT</span>
    <div class="ml-3 mb-3">
      <div class="row ml-auto">
        <img class="location" src="assets/img/code.svg" /> <span class="col-10" translate>VIVERIS_MISSION_3_CODE</span>
      </div>
      <div class="row ml-auto">
        <img class="location" src="assets/img/tools.svg" />
        <span class="col-10" translate>VIVERIS_MISSION_3_TOOLS</span>
      </div>
      <div class="row ml-auto">
        <img class="location" src="assets/img/location.svg" />
        <span class="col-10" translate>VIVERIS_MISSION_3_LOCATION</span>
      </div>
      <div class="row ml-auto">
        <img src="assets/img/time.svg" /> <span class="col-10" translate>VIVERIS_MISSION_3_TIME</span>
      </div>
    </div>
    <!-- MISSION 4 -->
    <span translate>VIVERIS_MISSION_4_TEXT</span>
    <div class="ml-3">
      <div class="row ml-auto">
        <img class="location" src="assets/img/code.svg" /> <span class="col-10" translate>VIVERIS_MISSION_4_CODE</span>
      </div>
      <div class="row ml-auto">
        <img class="location" src="assets/img/tools.svg" />
        <span class="col-10" translate>VIVERIS_MISSION_4_TOOLS</span>
      </div>
      <div class="row ml-auto">
        <img class="location" src="assets/img/location.svg" />
        <span class="col-10" translate>VIVERIS_MISSION_4_LOCATION</span>
      </div>
      <div class="row ml-auto">
        <img src="assets/img/time.svg" /> <span class="col-10" translate>VIVERIS_MISSION_4_TIME</span>
      </div>
    </div>
  </div>
</div>
