.logo {
  width: 100px;
}

q {
  font-style: italic;
  font-size: 1.2rem;
  quotes: "« " " »";
}

.clickable {
  cursor: pointer;
}

.navbar-brand {
  font-size: 2.25rem;
  white-space: pre-wrap;
}

.navbar-nav .nav-link {
  font-size: 1.25rem;
}

@media (max-width: 478px) {
  .navbar-brand {
    font-size: 1.5rem;
  }
}

.bg-darkblue {
  background-color: #7a6c5d;
}
