<h3 class="font-weight-bold text-center mt-2" translate>CONTACT</h3>
<div class="mt-2 mb-2 ml-4 mr-4">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-6 col-xl-6 col-md-12">
        <img
          class="text-center shadow bg-white rounded-circle clickable mt-3"
          src="assets/img/user_contact.svg"
          height="50"
          width="50"
        />
        <span class="text-center text_contact">Corentin Houchard</span>
      </div>
      <div class="col-12 col-lg-6 col-xl-6 col-md-12">
        <img
          class="text-center shadow bg-white rounded-circle clickable mt-3"
          src="assets/img/at-sign.svg"
          height="50"
          width="50"
        />
        <span class="text-center text_contact">corentin.houchard@outlook.fr</span>
      </div>
    </div>
  </div>
</div>
