.text_contact {
  margin-top: 2rem;
  margin-left: 7rem;
}

@media (max-width: 366px) {
  .text_contact {
    font-size: 0.7rem;
  }
}

.text-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
